{% block content %}
<div class="container">
	<h2>Thanks for using <span class="red">Bourbon</span> + <span class="red">Neat</span> Boilerplate for <a href="mixture.io">Mixture.io</a> </h2>
	<h3>If you like it, please fork the <a class="red" href="https://github.com/alonalon/Bourbon-Neat-for-Mixture.io">Github</a> page.</h3>
	<h3>Author: <a class="invert" href="http://www.twitter.com/aronhafner">AronHafner</a> </h3>

	<section class="links">
	<h4>This Mixture.io boilerplate is built with </h4>
		<a href="http://bourbon.io">Bourbon</a> |
		<a href="http://neat.bourbon.io">Bourbon Neat</a> |
		<a href="http://html5boilerplate.com">HTML5 Boilerplate</a>

	</section>
</div>

{% endblock %}